<?xml version="1.0"?>
<config>
    <modules>
        <Refiral_Campaign>
            <version>1.0.0</version>
        </Refiral_Campaign>
    </modules>
    <global>
        <blocks>
            <campaign>
                <class>Refiral_Campaign_Block</class>
            </campaign>
        </blocks>
        <helpers>
            <campaign>
                <class>Refiral_Campaign_Helper</class>
            </campaign>
        </helpers>
        <models>
            <campaign>
                <class>Refiral_Campaign_Model</class>
            </campaign>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <refiral>
                    <file>refiral.xml</file>
                </refiral>
            </updates>
        </layout>
    </frontend>   
	<default>
	        <general>
	            <campaign>
	                <active>1</active>
	                <title>Campaign</title>                	
	            </campaign>
	        </general>
	</default>
</config>
